<h1>My Employee Details</h1>


<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Employee Name</th>
        <th>Employee Salary   </th>
        <th>Designation</th>
        <th>Phone Number</th>
        <th>Update</th>
        <th>Delete</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee">
      <!-- <td>{{employee.id}}</td> -->
        <td>{{employee.empName}}</td>
        <td>{{employee.empSal}}</td>
        <td>{{employee.designation}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td><button (click)="updateEmployee(employee.id)" class="btn btn-success">Update Employee</button></td>
        <td><button (click)="deleteEmployee(employee.id)" class="btn btn-warning">Delete Employee</button></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
      <button (click)="addEmployee()" class="btn btn-success">Add Employee</button>
  </div>
</div>