<!-- <img src="/assets/images/dmantz1.jpg" style="width:100%;height:100%;">  -->
<!-- <h1>Dmantz Employee Portal Login</h1><br><br>



<div class="container">

    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}

    </div>
    <div>
        User Name : <input value="text" name="username" [(ngModel)]="username">
        Password : <input value="password" name="password" [(ngModel)]="password">

        <button (click)=handleLogin() class="btn btn-success">Login</button>
    </div>
</div> -->
<body style="background-color:black;">
    

<div class="bg-img">
        <form action="/action_page.php" class="container" style="background-color:lightpink;">
          <h1>Dmantz Login</h1>
      
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
      
          <button (click)=handleLogin() class="btn btn-success" >Login</button>
        </form>
      </div> 
    </body>